# Azure pipeline to deploy Docker image from Docker Hub to Azure Web App
trigger: none  # Triggered via REST API from GitHub Actions
pr: none      # Disable automatic PR triggers

parameters:
- name: imageTag
  displayName: Docker Image Tag
  type: string
  default: 'team1-AymanElsayeed-22'

variables:
  azureServiceConnectionId: '33503aa0-a2f9-44d4-8b26-1c6823745ccb'
  webAppName: 'projectmanagement'
  vmImageName: 'ubuntu-latest'
  environmentName: 'projectmanagement'
  # Docker image to deploy
  dockerImage: 'aymanelsayeed/aspm:${{ parameters.imageTag }}'

stages:
- stage: Deploy
  displayName: Deploy Web App from Docker Hub
  jobs:
  - deployment: DeployContainer
    pool:
      vmImage: $(vmImageName)
    environment: $(environmentName)
    strategy:
      runOnce:
        deploy:
          steps:

          # - task: AzureCLI@2
          #   displayName: 'Capture Current Image for Rollback'
          #   inputs:
          #     azureSubscription: $(azureServiceConnectionId)
          #     scriptType: 'bash'
          #     scriptLocation: 'inlineScript'
          #     inlineScript: |
          #        # Find Resource Group
          #        RG=$(az webapp list --query "[?name=='$(webAppName)'].resourceGroup" -o tsv)
          #        echo "Found Resource Group: $RG"
          #        echo "##vso[task.setvariable variable=RESOURCE_GROUP]$RG"
                 
          #        # Get Current Image
          #        CURRENT_IMAGE_FULL=$(az webapp config show --name $(webAppName) --resource-group $RG --query "linuxFxVersion" -o tsv)
          #        CURRENT_IMAGE=${CURRENT_IMAGE_FULL#DOCKER|}
          #        echo "Captured Current Image: $CURRENT_IMAGE"
          #        echo "##vso[task.setvariable variable=ROLLBACK_IMAGE]$CURRENT_IMAGE"

          - task: AzureWebAppContainer@1
            displayName: 'Deploy Azure Web App (Container)'
            inputs:
              azureSubscription: $(azureServiceConnectionId)
              appName: $(webAppName)
              imageName: $(dockerImage)

          # - script: |
          #     echo "Waiting for app to start..."
          #     for i in {1..30}; do
          #       if curl -s --head --request GET https://$(webAppName).azurewebsites.net | grep "200 OK" > /dev/null; then
          #         echo "App is up and running!"
          #         exit 0
          #       fi
          #       echo "Attempt $i: App not ready yet..."
          #       sleep 10
          #     done
          #     echo "App failed to start within the timeout period."
          #     exit 1
          #   displayName: 'Verify Application Health'

          # - task: AzureWebAppContainer@1
          #   displayName: 'Rollback to Previous Image'
          #   condition: failed()
          #   inputs:
          #     azureSubscription: $(azureServiceConnectionId)
          #     appName: $(webAppName)
          #     imageName: $(ROLLBACK_IMAGE)